* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 75vh;
    display: grid;
    background-color: #66D0FF;
}

.top-section {
    height: 75vh;
    width: 100%;
    background: url("../images/tree.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    text-align: center;
}

.text-header {
    margin: auto;
    text-align: center;
    font-size: 2.5em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 5px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fefefe;
}

.cover-text {
    margin: auto;
    text-align: center;
    font-size: 1.875em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fefefe;
}

button {
    position: relative;
    font-size: 130%;
    font-family: Barlow;
    font-weight: 900;
    text-align: center;
    letter-spacing: 2px;
    width: 350px;
    height: 120px;
    padding-top: 0;
    padding-left: 10px;
    background-color: #ECEFF1;
    border-radius: 100px;
    transition: 1s;
    cursor: pointer;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
}

.play {
    position: relative;
    font-size: 130%;
    font-family: Barlow;
    font-weight: 900;
    text-align: center;
    letter-spacing: 2px;
    width: 350px;
    height: 120px;
    padding-top: 0;
    padding-left: 10px;
    background-color: #ECEFF1;
    border-radius: 100px;
    transition: 1s;
    cursor: pointer;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
}
.revise{
    position: relative;
    font-size: 130%;
    font-family: Barlow;
    font-weight: 900;
    text-align: center;
    letter-spacing: 2px;
    width: 350px;
    height: 120px;
    padding-top: 0;
    padding-left: 10px;
    background-color: #ECEFF1;
    border-radius: 100px;
    transition: 1s;
    cursor: pointer;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
}

#revisionModal {
    display:none;
    position:fixed;
    background-color: rgba(black, black, black, 0.7);
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.revision-wrapper {
    display: inline-block;
    font-size: large;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: 15px solid rgb(0, 0, 0);
    background-color: rgb(75, 255, 225);
}

.modal-text {
    font-weight: 600;
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#closeBtn {
    display: inline-block;
    color: #fff;
    border: 1px solid;
    padding: 12px 34px;
    font-size: 14px;
    background: blue;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.revision-list {
    margin-bottom: 25px;
    color: black;
    text-align: center;
    padding: 0px 100px;
    
}


.game-text {
    float: left;
    width: 100;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 30px;
}


.game-section {
    height: 100vh;
    width: auto;
    display: grid;
    background-color: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

.memory-game {
    width: 800px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #025669;
    perspective: 1000px;
}

.card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    position: relative;
    border: 2px solid #000000;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background-color: rgb(226, 241, 255);
}

.card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border: 2px solid #000000;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

#snow {
    background-color: #577590;
    color: azure;
}

.score-timer-card {
    float: left;
    width: 100%;
    text-align: center;
    font-size: larger;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.score-counter {
    position: relative;
    display: inline-block;
}

.timer {
    position: relative;
    display: inline-block;
    padding-left: 250px;
}

.play-again {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px 60px;
}
#resetbutton {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease;
}
#resetbutton:hover {
    background-color: grey;
}

/* Footer*/
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    display: inline;
}

